<%= simple_fields_for :ocorrencia_itens do |f| %>
    <td <%= habilitado ? "id='campo_ocorrencia_descricao'" : "" %> width="62%" height="30" class="fundo_forms" style="padding-top:10px">
      <% if habilitado %>
        <%= f.input :descricao, :as => :select, :label => false, :input_html => { :style => "width:95%", :disabled => !habilitado, :onChange => "executa_click('#add_ocorrencia')"}, :collection => @itens, :label_method => :descricao %>
      <% else %>
        <%= f.input :descricao, :as => :select, :label => false, :input_html => { :style => "width:95%", :disabled => !habilitado, :onChange => "executa_click('#add_ocorrencia')"}, :collection => @itens, :label_method => :descricao, :selected => @ocorrencia_itens.id %>
      <% end %>
    </td>
<% end %>
