<td <%= ocorrencia.nil? ? "id='campo_remover'" : "" %> width="2%" height="30" style="padding-top:10px">
  <% if ocorrencia.nil? %>
    <%= link_to_remove_field_novo("X", "'tr'", "monitoramento[ocorrencia_ids][]", "0") %>
  <% else %>
    <%= link_to("X", remove_ocorrencia_monitoramento_path(@monitoramento, :ocorrencia_id => ocorrencia.id), :remote => true, :onClick => "remove_field_novo(this, 'tr')") %>
  <% end %>
</td>
