<%= simple_fields_for :ocorrencias do |f| %>
    <td <%= ocorrencia ? "id='campo_ocorrencia_camera'" : "" %> width="20%" height="30" class="fundo_forms" style="padding-top:10px">
      <% if ocorrencia.nil? %>
        <%= f.input :camera, :as => :select, :label => false, :input_html => { :style => "width:95%", :onChange => "executa_click('#carrega_ocorrencia_hora')"}, :collection => @monitoramento.cameras, :label_method => :nome %>
      <% else %>
        <%= ocorrencia.camera ? ocorrencia.camera.nome : t("messages.nao_informado") %>
      <% end %>
    </td>
<% end %>
