<% if !f.object.nil? %>
    <% ocorrencia = f.object.ocorrencia.nil? ? Ocorrencia.new : f.object.ocorrencia %>
    <% ocorrencia_itens = f.object.ocorrencia.nil? ? [] : f.object.ocorrencia.ocorrencia_itens %>
<tr id="<%= dom_id(f.object) %>" align="center">
      <td width="36%" height="30" class="fundo_forms" style="padding-top:10px">
        <%= f.input :ocorrencia, :as => :select, :label => false, :input_html => { :style => "width:95%", :onChange => "executa_click('#carrega_ocorrencia_itens')", :disabled => true}, :collection => @ocorrencia_all, :label_method => :grupo, :selected => ocorrencia.id %>
        <%# link_to "OK", edit_monitoramento_path(@monitoramento), : :remote => true %>
      </td>

      <td width="62%" height="30" class="fundo_forms" style="padding-top:10px">
        <%= f.input :descricao, :as => :select, :label => false, :input_html => { :style => "width:95%", :disabled => true}, :collection => ocorrencia_itens, :label_method => :descricao, :selected => (f.object.descricao.nil? ? "" : f.object.descricao) %>
      </td>

      <td width="2%" height="30" style="padding-top:10px">
        <%= link_to_remove_field_novo("X", "'tr'", "monitoramento[ocorrencia_item_ids][]", f.object.id) %>
      </td>
</tr>

<% end %>