<table id="ocorrencias" width="100%" border="0" cellspacing="6" valign="middle" align="center"  bottom="middle">

  <% @monitoramento.ocorrencias.order_by([:hora, :asc]).each do |oi| %>
      <%= render "monitoramentos/ocorrencias/show", :ocorrencia_item => oi %>
  <% end %>

</table>





