<% @monitoramento.ocorrencia_itens.each do |oi| %>
    <%= render "monitoramentos/ocorrencias/show", :ocorrencia_item => oi %>
<% end %>


<div style="display: none;">
    <%= form_pai.button :submit, :id => "carrega_ocorrencia_itens", :name => "carrega_ocorrencia_itens", :value => "Carrega"%>
    <%= form_pai.button :submit, :id => "add_ocorrencia", :name => "add_ocorrencia", :value => t("screen.button.confirm") %>
</div>





