<div id="<%= dom_id(f.object) %>" class="campo">
    <div style="float:left; width: 67%"><%= f.input(:descricao) %></div> <%= link_to_remove_field("X", f, "") %>
    <div style='clear:both'></div>
</div>