.titulo {
	/*background-image: url(/images/css_filetes/titulo.gif);
	background-repeat: repeat-x; **/
	font-family: IMPACT;
	color: #FFF;
    position: absolute;
	height: auto;
	width: auto;
	text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
}

.texto1 {
	font-family: IMPACT;
	color: #FFF;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: normal;
}

.fundo_escrita {
	background-color: #514A73;
}

.conteudo_view {
    position: relative;
    margin: 16px 16px 16px 16px;
}

.conteudo_admin_scope {
    background-color: #514A73;
    padding: 15px 15px 15px 15px;
    margin-top: 16px;
}

.label_app {
  background-image: url(/images/css_filetes/fundo_botao.gif);
  background-repeat: repeat-x;
  background-position: left;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  padding: 2% 2% 2% 2%;
  margin-right: 10px;
}

.link_label:link {
color:#000000;
text-decoration:none;
}
.link_label:visited {
color:#000000;
text-decoration:none;
}
.link_label:hover {
color:#000000;
text-decoration:none;
}
.link_label:active {
color:#000000;
text-decoration:none;
}

#mensagem {
    text-align: center;
    font-size: 14px;
    background-color: #514A73;
    margin-top: 10px;
}

#mensagem .alert {
    color: #ffc0cb;
}

#mensagem .notice{
    color: #7cfc00;
}

.fundo_forms {
	font-family: Verdana, Geneva, sans-serif;
	font-size: x-small;
	background-color: #514A73;
}

.celula_escura {
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
	background-color: #3E3959;
    height:30px;
    max-height: 30px;
    padding-left: 5px;
}