<% titulo("Home") %>

<% if @monitoramento_nao_finalizado %>
    <div id="mensagem">
        <p class="notice">
          Você possui um cadastro de relatório do turno atual em aberto. <br />
          <%= link_to("Clique aqui para ir ao relatório.", edit_monitoramento_path(@monitoramento_nao_finalizado)) %>
        </p>
    </div>
<% end %>

<%= render "perfil_info" %>

