<tr id="<%= dom_id(novo_defeito) %>">
  <td width="36%" height="30" class="fundo_forms">
    <%= novo_defeito.camera.nome %>
  </td>
  <td width="64%" height="30" class="fundo_forms">
    <%= novo_defeito.defeito %>
  </td>
</tr>
