<div id="osx-modal-content">
    <div id="osx-modal-title">INICIANDO NOVO TURNO...</div>
    <% if Visor.all.empty? %>
        <div id="osx-modal-data">
		    <h2>Não existem monitores cadastrados.</h2>
			<p> Para continuar é necessario cadastrar um monitor. </p>
            <p><%= link_label_to 'Cadastrar novo monitor', [:new, :visor] %> </p>
	    </div>
    <% else %>
        <%= simple_form_for(@monitoramento, :html => {:class => ''} ) do |f| %>
                <div id="osx-modal-data">
                    <h2>Selecione o monitor utilizado:</h2>
                    <p> <%= f.input :visor, :as => :select, :label => false, :input_html => { :style => "width:70%"}, :collection => Visor.all, :label_method => lambda{ |v| "#{v.numero} - #{v.nome}" } %></p>
                  <p><%= f.button :submit, :id => "set_monitor", :name => "set_monitor", :value => "Continuar"%></p>
                </div>
        <% end %>
    <% end %>
</div>


<script type="text/javascript" language="javascript">
    osx_pleno();
</script>
