<tr><!-- row 6 -->
	   <td><table style="display: inline-table;" align="left" border="0" cellpadding="0" cellspacing="0" width="770">
		  <tr><!-- row 1 -->
           <%= render "layouts/menu_rodape" %>
		  </tr>
		</table></td>
	  </tr>
	  <tr><!-- row 7 -->
	   <td><table style="display: inline-table;" align="left" border="0" cellpadding="0" cellspacing="0" width="770">
		  <tr><!-- row 1 -->
		   <td width="315" class="rodape_menu">&nbsp;</td>
		   <td width="152" align="center" valign="baseline" class="rodape_menu"><p class="rodape_menu_ass">&nbsp;</p>
		     <p class="rodape_menu_ass">2011-2012 - DS Estúdios<br>
		       <a href="http://www.dsestudios.com" target="_blank">www.dsestudios.com</a></p></td>
		   <td width="303" bgcolor="#151932" class="rodape_menu"><p class="rodape_menu_ass">&nbsp;</p></td>
		  </tr>
		</table></td>
	  </tr>