<td><%= link_to '<img name="links_rodape_esq" src="/images/imagens_index/links_rodape_esq.jpg" width="306" height="30" border="0" alt="">'.html_safe, root_path %> </td>
<td><%= link_to '<img name="link_estatisticas" src="/images/imagens_index/link_estatisticas.gif" width="152" height="30" border="0" alt="">'.html_safe, "#" %> </td>
<td><%= link_to '<img name="link_busca_rodape" src="/images/imagens_index/link_busca_rodape.gif" width="75" height="30" border="0" alt="">'.html_safe, "#" %> </td>
<td><%= link_to '<img name="link_relatorios_rodape" src="/images/imagens_index/link_relatorios_rodape.gif" width="107" height="30" border="0" alt="">'.html_safe, monitoramentos_path %> </td>
<td><img name="links_rodape_dir" src="/images/imagens_index/links_rodape_dir.jpg" width="130" height="30" border="0" alt=""></td>