<td><%= link_to '<img name="link_manha" src="/images/imagens_index/link_manha.jpg" width="92" height="41" border="0" alt="">'.html_safe, monitoramentos_path(:periodo => 'M') %> </td>
<td><%= link_to '<img name="link_tarde" src="/images/imagens_index/link_tarde.jpg" width="83" height="41" border="0" alt="">'.html_safe, monitoramentos_path(:periodo => 'T') %> </td>
<td><%= link_to '<img name="link_noite" src="/images/imagens_index/link_noite.jpg" width="72" height="41" border="0" alt="">'.html_safe, monitoramentos_path(:periodo => 'N') %> </td>
