<div class="celula">
    <div class="imageSingle">
        <div class="image"><%= imagem %></div>
        <div class="footer"><%= linha %></div>
    </div>
    <div class="imageSingle">
        <div class="image"><img src="1-th.jpg"/></div>
        <div class="footer">Caption</div>
    </div>
</div>